<%-include('../layouts/root-head')%>

    <section data-location="words/view" class="content-container">
        <div class="table-container">
            <table>
                <caption class="text-headline-special font-bold text-extra-compressed"><%= wordData.word %></caption>
                <thead>
                    <tr>
                        <th>Translation</th>
                        <th>Language</th>
                        <th>Romanization</th>
                    </tr>
                </thead>
                <tbody>
                <% wordData.translations.map((translation) => { %>
                    <tr>
                        <td data-translations data-lang="<%= translation.languageCode%>"> <%= translation.translatedWord %> </td>
                        <td> <%= translation.languageName %> </td>
                        <td> <%= translation.romanization %> </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
        const translatedWords = document.querySelectorAll('[data-translations]');

        translatedWords.forEach((word) => {
            word.addEventListener('click', function() {
                const text = this.textContent;
                const lang = this.dataset.lang;

                const utter = new SpeechSynthesisUtterance(text);

                if (lang === "ja-JP") {
                    utter.lang = "ja-JP"; // Japanese
                } else if (lang === "fil-PH") {
                    utter.lang = "tl-PH"; // Filipino
                } else if (lang === "ko-KR") {
                    utter.lang = "ko-KR"; // Korean
                }

                window.speechSynthesis.speak(utter)
            })
        })
    })
    </script>


<%-include('../layouts/root-foot')%>